<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pb.fr.cinescope2017">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PageAccueil">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".HitParadeDuPublic" />
        <activity android:name=".BoxOffice" />
        <activity android:name=".TousLesFilms" />
        <activity android:name=".AvisDesCritiques" />
        <activity android:name=".RechercheAvancee" />
        <activity android:name=".SalleDeParis" />
        <activity android:name=".AvantPremiere" />
        <activity android:name=".Festivals" />
        <activity android:name=".Articles" />
        <activity android:name=".Inscription" />
        <activity android:name=".Authentification" />
        <activity android:name=".MonCompte" />
        <activity android:name=".Importations" />

        <provider
            android:name=".FournisseurCinema"
            android:authorities="pb.fr.cinescope2017.FournisseurCinema"
            android:enabled="true"
            android:exported="true"></provider>

        <activity android:name=".PermissionsCheck">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>